body{
    height: 100%;
}
header.masthead {
	background-image : url("../img/handshake.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
    display: flex;
}

header.masthead .jumbotron{
padding-top: 10rem;
padding-bottom: 10rem;
margin-top: 0rem;
margin-bottom: 10rem;
}
header.masthead .jumbotron .font-weight-light{
    margin-top:7rem;
}


#mainNav{
	background-color:white !important;
	padding-top 2rem !important;
	padding-bottom: 2rem;
    background-image: none;
}
#mainNav .container > button{
    display: none;
}
#mainNav .navbar-nav li.nav-item a.nav-link{
	color:#31ad62 ;
}
.jumbotron{
	background-color: rgba(0,0,0,0.5);
}
.getTheApp{
	background-image : url("../img/app.jpg");
background-repeat: no-repeat;
	background-size: 100%;
	
}
#navbarResponsive{
    float: right;
}
.logo img{
    width: 300px !important;
    height: 90px;
}
footer{
    position: relative !important;
    margin-top: 10rem;
}
#about .container .row{
    display: flex;
    justify-content: center;
    color:white;
}
#about .container{
    color:white;
    padding-top: 5rem;
padding-bottom: 5rem;
}

#portfolio .col-md-4 .row.border{
    border: 1px solid #dee2e6 !important;
    margin: 2rem;
padding: 1rem;
}

#activity .jumbotron{
    margin-top: 7rem;
margin-bottom: 10rem;
color: white;
padding-top: 5rem;
padding-bottom: 5rem;
}
#about .container .text-center{
        margin-bottom: 4rem;

}

.container-login{
    width: 80%;
margin: auto;
margin-top: 10rem;
margin-bottom: 10rem;
}

.container-login button{
    width: 30%;
margin: auto;

margin-top: 5rem;
}

#mainNav .navbar-nav li.nav-item a.nav-link:focus,
.navbar-inverse .navbar-nav > li > a:hover {
    color: #fff;
    background-color: #ededed;
}
.rechercheInteret{
    display: flex;
flex-direction: row;
}
.container-profil{
    display: flex;
flex-direction: column;
align-items: center;
}
.container-profil img{
    border-radius: 100%;
}
.container-profil .profilName{
    margin-top: 5rem;
}
.container-addEvent{
    display: flex ;
    flex-direction: column ;
    width: 80% ;
    margin: auto ;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.container-addEvent .addEventForm button{
    margin-top: 5rem;
}
.container-listActivity{
    display: flex;
    width: 80%;
    margin: auto;
}
.media {
    overflow:visible;
}

.media .infos{
    border: 1px solid gray;
    padding: 1rem;
}
.popupContainer{
    background-color: white;
    width: 50%;
	height: 70%;
    margin: auto;
    border: 1px solid grey;
    padding: 2rem;    
}
header.masthead h1{
    line-height: 7rem !important;
}

/*.popup{
    position: fixed;
    top: 100px;
    bottom: 100px;
    right: 100px;
    left: 100px;
}*/
